.section{
        background-color: #88c1d0;
        width: 500px;
        margin: 20px;
        height: 20em;
}
@media (max-width:768px){
    body{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:768px) and (max-width:1599px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width:1680px){
    body{
        display: flex;
        flex-direction: row;
    }
}